Node-RED JSON File
[{"id":"3d5ca112.f42856","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d1cea2db.e9103","type":"ui_switch","z":"3d5ca112.f42856","name":"","label":"Relay1","tooltip":"","group":"a7841362.ae40c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":100,"wires":[["563115f8.42f8dc"]]},{"id":"8bc6d888.96652","type":"http request","z":"3d5ca112.f42856","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.15.77/relay1/on","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":60,"wires":[[]]},{"id":"563115f8.42f8dc","type":"switch","z":"3d5ca112.f42856","name":"Comparing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":100,"wires":[["8bc6d888.96652"],["dd796460.eab94"]]},{"id":"dd796460.eab94","type":"http request","z":"3d5ca112.f42856","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.15.77/relay1/off","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":120,"wires":[[]]},{"id":"4fc38834.f1bb6","type":"ui_gauge","z":"3d5ca112.f42856","name":"","group":"a7841362.ae40c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature Data","label":"deg C","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":490,"y":480,"wires":[]},{"id":"f4ce55b9.1bbc5","type":"http request","z":"3d5ca112.f42856","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.15.77/dht-temp","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":480,"wires":[["4fc38834.f1bb6"]]},{"id":"6070d70c.7a575","type":"inject","z":"3d5ca112.f42856","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":480,"wires":[["f4ce55b9.1bbc5"]]},{"id":"851c032b.878a3","type":"ui_gauge","z":"3d5ca112.f42856","name":"","group":"a7841362.ae40c","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity Data","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":1040,"y":420,"wires":[]},{"id":"c6aa9eb8.32b21","type":"http request","z":"3d5ca112.f42856","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.15.77/dht-hum","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":420,"wires":[["851c032b.878a3"]]},{"id":"1a83b02e.ccf36","type":"inject","z":"3d5ca112.f42856","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":670,"y":420,"wires":[["c6aa9eb8.32b21"]]},{"id":"62018ba6.a69844","type":"ui_switch","z":"3d5ca112.f42856","name":"","label":"Relay2","tooltip":"","group":"a7841362.ae40c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":690,"y":100,"wires":[["31159ecb.d1b662"]]},{"id":"97ae23bd.3308c","type":"http request","z":"3d5ca112.f42856","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.15.77/relay2/on","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":40,"wires":[[]]},{"id":"31159ecb.d1b662","type":"switch","z":"3d5ca112.f42856","name":"Comparing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":100,"wires":[["97ae23bd.3308c"],["36ab00d8.590ab"]]},{"id":"36ab00d8.590ab","type":"http request","z":"3d5ca112.f42856","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.15.77/relay2/off","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":120,"wires":[[]]},{"id":"75699224.af27c4","type":"ui_switch","z":"3d5ca112.f42856","name":"","label":"Relay3","tooltip":"","group":"a7841362.ae40c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":280,"wires":[["d14851ba.7155a8"]]},{"id":"b25e0662.eabcd8","type":"http request","z":"3d5ca112.f42856","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.15.77/relay3/on","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":220,"wires":[[]]},{"id":"d14851ba.7155a8","type":"switch","z":"3d5ca112.f42856","name":"Comparing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":280,"wires":[["b25e0662.eabcd8"],["2e60c59c.580ae2"]]},{"id":"2e60c59c.580ae2","type":"http request","z":"3d5ca112.f42856","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.15.77/relay3/off","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":300,"wires":[[]]},{"id":"ff25593d.2e6ca","type":"ui_switch","z":"3d5ca112.f42856","name":"","label":"Relay4","tooltip":"","group":"a7841362.ae40c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":690,"y":260,"wires":[["8147a95b.90f3f8"]]},{"id":"23a9510f.ffef6e","type":"http request","z":"3d5ca112.f42856","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.15.77/relay4/on","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":200,"wires":[[]]},{"id":"8147a95b.90f3f8","type":"switch","z":"3d5ca112.f42856","name":"Comparing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":260,"wires":[["23a9510f.ffef6e"],["d85127a5.16cbc"]]},{"id":"d85127a5.16cbc","type":"http request","z":"3d5ca112.f42856","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.15.77/relay4/off","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":280,"wires":[[]]},{"id":"a7841362.ae40c","type":"ui_group","name":"My studio","tab":"2ff36ff5.bdc628","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ff36ff5.bdc628","type":"ui_tab","name":"Studio_control","icon":"dashboard","disabled":false,"hidden":false}]
